$base-color: #010E19;
$shade-1: #011627;
$tint-1: #406ABF;
$tint-2: #83ADE2;
$tint-3: #6ABAFB;
$secondary-color: #217D7A;
$secondary-tint-1: #52E099;

@media only screen and (min-width: 0px) {
    footer {
        background-color: $base-color;
        z-index: 100000;
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: fit-content;
        
    
        .footer-links-container {
            display: flex;
            width: 100%;
            padding: 0px 16px;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            gap: 2rem;
            list-style: none;
    
            li {
                display: flex;
                flex-direction: row;
                align-items: center;

                img {
                    position: relative;
                    left: 0px;
                    opacity: 0.6;
                    scale: 1;
                    transition: left 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.23s, scale 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.15s;
                    will-change: scroll-position;
                }

                .socials-icon {
                    position: relative;
                    width: auto;
                    height: 42px;
                    transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.15s;
                    opacity: 0;
                    scale: 0;
                    will-change: auto;
                }

                &.flag-icon-wrap {
                    opacity: 0;
                    transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.15s;
                    position: absolute;
                    left: calc(50vw - 10px);

                    &:after {
                        display: none;
                    }
                }

                &.show.flag-icon-wrap {
                    opacity: 1;
                }

                .flag-icon {
                    width: 26px;
                    height: auto;
                    opacity: 1;
                }

                &.socials-icon-wrap {
                    opacity: 0;
                    background-color: $base-color;
                    position: absolute;
                    left: 12px;
                    margin-top: -2px;
                }

                &.show.socials-icon-wrap {
                    height: 30px;
                    opacity: 1;
                }

                &.show .socials-icon {
                    scale: 1;
                    opacity: 0.6;
                }
    
                &:after {
                    content: "";
                    height: clamp(2.5rem, 3.75vw, 2.7rem);
                    width: 2px;
                    background-color: white;
                    opacity: 0.6;
                    display: flex;
                    margin-left: 1rem;
                    margin-right: -1rem;
                }
    
                &:nth-child(3):after {
                    display: none;
                }

                &:nth-child(6):after {
                    display: none;
                }

                @for $i from 1 through 3 {
                    &:nth-child(#{$i}) {
                      display: none;
                    }
                }

                @for $i from 4 through 8 {
                    &:nth-child(#{$i}) {
                      display: flex;
                      padding: 14px 0px;

                      &:after {
                        display: none;
                      }
                    }

                }
    
                a {
                    color: white;
                    opacity: 0.6;
                    text-underline-offset: 4px;
                    transition: opacity 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    
                    &:hover {
                        opacity: 1;
                    }
                }

                &:nth-child(5) img {
                    width: 45px;
                    margin-top: -8px;
                    margin-bottom: -11px;
                }
            }
            
            img {
                opacity: 0.6;
                transition: opacity 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
                width: 30px;
                aspect-ratio: 1/1;
                
                &:hover {
                    opacity: 1;
                }

                &:active {
                    opacity: 1;
                }
            }
        }
    }
}

@media only screen and (max-width: 860px) {
    .hide-icons {
        .icon {
            opacity: 0;
            scale: 0;
        }

        .email-icon {
            left: calc(-50vw + 28px);
        }

        .github-icon {
            left: calc(-100vw + 60px);
        }
    }
}

@media only screen and (min-width: 860px) {
    footer {
        padding: 8px 0px;

        .footer-links-container {
            width: 50%;
            padding-left: 32px;
            justify-content: flex-start;
    
            li {
                @for $i from 1 through 3 {
                    &:nth-child(#{$i}) {
                      display: flex;
                    }
                }

                @for $i from 4 through 8 {
                    &:nth-child(#{$i}) {
                      display: none;
                    }
                }
    
                &:last-child:after {
                    display: none;
                }
    
                a {
                    font-size: clamp(1rem, 1.5vw, 1.35rem);
                    text-wrap: nowrap;
                }
            }
            
            
        }
    }
}