.square {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    box-shadow: inset 1px 1px 1px 1px rgba(255, 255, 255, 0.1), inset -1px -1px 1px 1px rgb(3, 3, 3, 0.2);
    background-color: rgb(1, 14, 24);
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.bombed {
    background-size: 24px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 3px;
    background-image: url("/icons/bomb.svg");
}

.square.reveal {
    box-shadow: none;
    color: white;
}

.B1 {
    color: #62D926 !important;
}

.B2 {
    color: #269DD9 !important;
}

.B3 {
    color: #4426D9 !important;
}

.B4 {
    color: #D926D9 !important;
}

.B5 {
    color: #D92644 !important;
}

.B6 {
    color: #D9BB26 !important;
}

.B7 {
    color: #26D980 !important;
}

.B8 {
    color: #D92626 !important;
}

.B9 {
    color: #D98026 !important;
}