@media only screen and (min-width: 0px) {
    #skills-section {
        .container {
            .threeD-icons-container {
                .threeD-icon {
                    .git {
                        width: 140px;
                        aspect-ratio: 1/1;
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        transform-style: preserve-3d;
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            .cub-1 {
                                transform: translate3D(100px, 0px, 0em) rotateX(91deg) rotateY(45deg) rotateZ(0deg) scale3d(1.3, 1.3, 1.3);
                            }
                        }

                        &.hover {
                            .cub-1 {
                                transform: translate3D(100px, 0px, 0em) rotateX(91deg) rotateY(45deg) rotateZ(0deg) scale3d(1.3, 1.3, 1.3);
                            }
                        }

                        #tridiv {
                            perspective: 800px;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background: transparent;
                            font-size: 50%;
                            scale: 0.17;
                        }

                        .scene,
                        .shape,
                        .face,
                        .face-wrapper,
                        .cr {
                            position: absolute;
                            transform-style: preserve-3d;
                        }

                        .scene {
                            width: 5em;
                            height: 5em;
                        }

                        .shape {
                            width: 0;
                            height: 0;
                            transform-origin: 50%;
                        }

                        .face,
                        .face-wrapper {
                            transform-origin: 0 0;
                            backface-visibility: hidden;
                        }

                        .face {
                            background-size: 100% 100% !important;
                            background-position: center;
                        }

                        .face-wrapper .face {
                            left: 100%;
                            width: 100%;
                            height: 100%
                        }

                        .photon-shader {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%
                        }

                        .side {
                            left: 50%;
                        }

                        .cr,
                        .cr .side {
                            height: 100%;
                        }

                        [class*="cuboid"] .ft,
                        [class*="cuboid"] .bk {
                            width: 100%;
                            height: 100%;
                        }

                        [class*="cuboid"] .bk {
                            left: 100%;
                        }

                        [class*="cuboid"] .rt {
                            transform: rotateY(-90deg) translateX(-50%);
                        }

                        [class*="cuboid"] .lt {
                            transform: rotateY(90deg) translateX(-50%);
                        }

                        [class*="cuboid"] .tp {
                            transform: rotateX(90deg) translateY(-50%);
                        }

                        [class*="cuboid"] .bm {
                            transform: rotateX(-90deg) translateY(-50%);
                        }

                        [class*="cuboid"] .lt {
                            left: 100%;
                        }

                        [class*="cuboid"] .bm {
                            top: 100%;
                        }

                        /* .cub-1 styles */
                        .cub-1 {
                            transform: translate3D(0em, 50px, 0em) rotateX(40deg) rotateY(45deg) rotateZ(30deg) scale3d(1, 1, 1);
                            opacity: 1;
                            width: 50em;
                            height: 10em;
                            margin: -5em 0 0 -25em;
                            transition: all 0.2s ease-in-out;
                        }

                        .cub-1 .ft {
                            transform: translateZ(25em);
                        }

                        .cub-1 .bk {
                            transform: translateZ(-25em) rotateY(180deg);
                        }

                        .cub-1 .rt,
                        .cub-1 .lt {
                            width: 50em;
                            height: 10em;
                        }

                        .cub-1 .tp,
                        .cub-1 .bm {
                            background-color: white !important;
                            width: 50em;
                            height: 50em;
                            overflow: hidden;
                        }

                        .cub-1 .bm img {
                            overflow: hidden;
                            top: -20%;
                            left: -20%;
                            position: relative;
                            width: 140%;
                            height: 140%;
                            transform: rotate(-45deg);
                        }

                        .cub-1 .face {
                            background-color: hsl(10, 87%, 40%);
                        }

                        .cub-1 .ft {
                            width: 47em;
                            margin-left: 1.5em;
                        }

                        .cub-1 .bk {
                            width: 47em;
                            margin-left: -1.5em;
                        }

                        .cub-1 .rt,
                        .cub-1 .lt {
                            width: 47em;
                        }

                        .cub-1 .tp,
                        .cub-1 .bm,
                        .cub-1 .tp .photon-shader,
                        .cub-1 .bm .photon-shader {
                            border-radius: 1.5em;
                        }

                        .cub-1 .cr {
                            width: 1.5em;
                            left: 0.75em;
                        }

                        .cub-1 .cr-0 {
                            transform: translate3D(47em, 0, 23.5em);
                        }

                        .cub-1 .cr-1 {
                            transform: translate3D(47em, 0, -23.5em);
                        }

                        .cub-1 .cr-2 {
                            transform: translate3D(0, 0, -23.5em);
                        }

                        .cub-1 .cr-3 {
                            transform: translate3D(0, 0, 23.5em);
                        }

                        .cub-1 .cr-0 .s0 {
                            transform: rotateY(15deg) translate3D(-50%, 0, 1.475em);
                        }

                        .cub-1 .cr-0 .s1 {
                            transform: rotateY(45deg) translate3D(-50%, 0, 1.475em);
                        }

                        .cub-1 .cr-0 .s2 {
                            transform: rotateY(75deg) translate3D(-50%, 0, 1.475em);
                        }

                        .cub-1 .cr-1 .s0 {
                            transform: rotateY(105deg) translate3D(-50%, 0, 1.475em);
                        }

                        .cub-1 .cr-1 .s1 {
                            transform: rotateY(135deg) translate3D(-50%, 0, 1.475em);
                        }

                        .cub-1 .cr-1 .s2 {
                            transform: rotateY(165deg) translate3D(-50%, 0, 1.475em);
                        }

                        .cub-1 .cr-2 .s0 {
                            transform: rotateY(195deg) translate3D(-50%, 0, 1.475em);
                        }

                        .cub-1 .cr-2 .s1 {
                            transform: rotateY(225deg) translate3D(-50%, 0, 1.475em);
                        }

                        .cub-1 .cr-2 .s2 {
                            transform: rotateY(255deg) translate3D(-50%, 0, 1.475em);
                        }

                        .cub-1 .cr-3 .s0 {
                            transform: rotateY(285deg) translate3D(-50%, 0, 1.475em);
                        }

                        .cub-1 .cr-3 .s1 {
                            transform: rotateY(315deg) translate3D(-50%, 0, 1.475em);
                        }

                        .cub-1 .cr-3 .s2 {
                            transform: rotateY(345deg) translate3D(-50%, 0, 1.475em);
                        }

                        .cub-1 .side {
                            width: 0.8288475772933681em;
                        }
                    }
                }
            }
        }
    }
}
