@import '@/app/color-scheme.scss';

* {
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 0px) {
    body {
        background-color: $base-color;


        main {
            margin-top: 64px;
            height: min-content;
        }
    }
    
    
}

@media only screen and (min-width: 1200px) {
    body {
        
        main {
            margin-top: 90px;
        }
    }
}