@import './color-scheme.scss';
@import 'tailwindcss';

@theme {
    --blur-2xs: 2px;
    --text-shadow-heading: 0px 0px 50px black;
    --shadow-subtle: 0px 0px 5px black;

    --ease-calm: cubic-bezier(0.22, 1, 0.36, 1);
    --dur-fast: 160ms;
    --dur-fade: 280ms;
    --dur-move: 420ms;
    --dur-page: 560ms;

    --animate-countdown: countdown 5s linear, redirecting 5s linear 5s infinite normal;
    --animate-blink-underline: blink-underline 1.5s steps(1) infinite;

    @keyframes countdown {
        0% {
            content: 'Redirecting to home page in 5';
        }

        20% {
            content: 'Redirecting to home page in 4';
        }

        40% {
            content: 'Redirecting to home page in 3';
        }

        60% {
            content: 'Redirecting to home page in 2';
        }

        80% {
            content: 'Redirecting to home page in 1';
        }

        100% {
            content: 'Redirecting to home page now';
        }
    }

    @keyframes redirecting {
        0% {
            content: 'Redirecting to home page now';
        }

        20% {
            content: 'Redirecting to home page now.';
        }

        40% {
            content: 'Redirecting to home page now..';
        }

        60% {
            content: 'Redirecting to home page now...';
        }

        80% {
            content: 'Redirecting to home page now....';
        }

        100% {
            content: 'Redirecting to home page now';
        }
    }

    @keyframes blink-underline {
        0% {
            text-decoration: none;
            // for some reason, without setting the color to be changing, safari will NOT start the animation effect. I have no idea why it does this
            // color: #83ADE1;
        }

        50% {
            text-decoration: underline;
            // color: #83ADE2;
        }

        100% {
            text-decoration: none;
            // color: #83ADE1;
        }
    }
}

@utility calm-fast {
    @apply ease-calm duration-(--dur-fast);

    transition-property: all;
}

@utility calm {
    @apply ease-calm duration-(--dur-fade);

    transition-property: all;
}

* {
    -webkit-tap-highlight-color: transparent;
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 8px;
    border-radius: 30px;
}

::-webkit-scrollbar-track {
    background: rgba(229, 244, 255, 0.1);
}

::-webkit-scrollbar-thumb {
    background-color: #83ade2;
    border-radius: 30px;
    border: 1px solid #ffffff;
}

@media only screen and (min-width: 0px) {
    body {
        background-color: $base-color;
        overflow-x: hidden;
        font-family: var(--zcool-font);


        main {
            margin-top: 64px;
            height: min-content;
        }
    }
}

@media only screen and (min-width: 1200px) {
    body {

        main {
            margin-top: 90px;
        }
    }
}