.square {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    box-shadow: inset 1px 1px 1px 1px rgba(255, 255, 255, 0.1), inset -1px -1px 1px 1px rgb(3, 3, 3, 0.5);
    background-color: rgb(1, 14, 24);
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}





