@media only screen and (min-width: 0px) {
    #skills-section {
        .container {
            .threeD-icons-container {
                .threeD-icon {
                    .nextjs {
                        width: 140px;
                        aspect-ratio: 1/1;
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        transform-style: preserve-3d;
                        transition: all 0.2s ease-in-out;
                        margin-top: 100px;

                        &:hover {
                            .cyl-1 {
                                transform: translate3D(-50px, -50px, 0em) rotateX(91deg) rotateY(0deg) rotateZ(0deg) scale3d(1.3, 1.3, 1.3);
                            }
                        }

                        &.hover {
                            .cyl-1 {
                                transform: translate3D(-50px, -50px, 0em) rotateX(91deg) rotateY(0deg) rotateZ(0deg) scale3d(1.3, 1.3, 1.3);
                            }
                        }

                        #tridiv {
                            perspective: 800px;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background: transparent;
                            font-size: 60%;
                            scale: 0.17;
                        }

                        .scene,
                        .shape,
                        .face,
                        .face-wrapper,
                        .cr {
                            position: absolute;
                            transform-style: preserve-3d;
                        }

                        .scene {
                            width: 5em;
                            height: 5em;
                        }

                        .shape {
                            width: 0;
                            height: 0;
                            transform-origin: 50%;
                        }

                        .face,
                        .face-wrapper {
                            transform-origin: 0 0;
                            backface-visibility: hidden;
                        }

                        .face {
                            background-size: 100% 100% !important;
                            background-position: center;
                        }

                        .face-wrapper .face {
                            left: 100%;
                            width: 100%;
                            height: 100%
                        }

                        .photon-shader {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%
                        }

                        .side {
                            left: 50%;
                        }

                        .cr,
                        .cr .side {
                            height: 100%;
                        }

                        [class*="cylinder"] .tp {
                            transform: rotateX(90deg) translateY(-50%);
                        }

                        [class*="cylinder"] .bm {
                            transform: rotateX(-90deg) translateY(-50%);
                            overflow: visible;
                        }

                        [class*="cylinder"] .tp,
                        [class*="cylinder"] .bm,
                        [class*="cylinder"] .tp .photon-shader,
                        [class*="cylinder"] .bm .photon-shader {
                            border-radius: 50%;
                        }

                        img {
                            width: 101%;
                            height: 101%;
                            position: relative;
                            left: -2px;
                            top: -2px;
                        }

                        [class*="cylinder"] .bm {
                            top: 100%;
                        }

                        /* .cyl-1 styles */
                        .cyl-1 {
                            transform: translate3D(50px, 0em, 0em) rotateX(60deg) rotateY(0deg) rotateZ(-30deg) scale3d(1, 1, 1);
                            transition: all 0.2s ease-in-out;
                            opacity: 1;
                            width: 50em;
                            height: 10em;
                            margin: -5em 0 0 -25em;
                        }

                        .cyl-1 .tp,
                        .cyl-1 .bm {
                            width: 50em;
                            height: 50em;
                        }

                        .cyl-1 .side {
                            width: 7.9442220162268145em;
                            height: 10em;
                        }

                        .cyl-1 .s0 {
                            transform: rotateY(9deg) translate3D(-50%, 0, 24.975em);
                        }

                        .cyl-1 .s1 {
                            transform: rotateY(27deg) translate3D(-50%, 0, 24.975em);
                        }

                        .cyl-1 .s2 {
                            transform: rotateY(45deg) translate3D(-50%, 0, 24.975em);
                        }

                        .cyl-1 .s3 {
                            transform: rotateY(63deg) translate3D(-50%, 0, 24.975em);
                        }

                        .cyl-1 .s4 {
                            transform: rotateY(81deg) translate3D(-50%, 0, 24.975em);
                        }

                        .cyl-1 .s5 {
                            transform: rotateY(99deg) translate3D(-50%, 0, 24.975em);
                        }

                        .cyl-1 .s6 {
                            transform: rotateY(117deg) translate3D(-50%, 0, 24.975em);
                        }

                        .cyl-1 .s7 {
                            transform: rotateY(135deg) translate3D(-50%, 0, 24.975em);
                        }

                        .cyl-1 .s8 {
                            transform: rotateY(153deg) translate3D(-50%, 0, 24.975em);
                        }

                        .cyl-1 .s9 {
                            transform: rotateY(171deg) translate3D(-50%, 0, 24.975em);
                        }

                        .cyl-1 .s10 {
                            transform: rotateY(189deg) translate3D(-50%, 0, 24.975em);
                        }

                        .cyl-1 .s11 {
                            transform: rotateY(207deg) translate3D(-50%, 0, 24.975em);
                        }

                        .cyl-1 .s12 {
                            transform: rotateY(225deg) translate3D(-50%, 0, 24.975em);
                        }

                        .cyl-1 .s13 {
                            transform: rotateY(243deg) translate3D(-50%, 0, 24.975em);
                        }

                        .cyl-1 .s14 {
                            transform: rotateY(261deg) translate3D(-50%, 0, 24.975em);
                        }

                        .cyl-1 .s15 {
                            transform: rotateY(279deg) translate3D(-50%, 0, 24.975em);
                        }

                        .cyl-1 .s16 {
                            transform: rotateY(297deg) translate3D(-50%, 0, 24.975em);
                        }

                        .cyl-1 .s17 {
                            transform: rotateY(315deg) translate3D(-50%, 0, 24.975em);
                        }

                        .cyl-1 .s18 {
                            transform: rotateY(333deg) translate3D(-50%, 0, 24.975em);
                        }

                        .cyl-1 .s19 {
                            transform: rotateY(351deg) translate3D(-50%, 0, 24.975em);
                        }

                        .cyl-1 .face,
                        .cyl-1 .side {
                            background-color: hsl(0, 0%, 6%);
                        }

                        .cyl-1 .bm {
                            background-color: white;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 800px) {
    #skills-section {
        .container {
            .threeD-icons-container {
                .threeD-icon {
                    .nextjs {
                        &:hover {
                            .cyl-1 {
                                transform: translate3D(100px, -50px, 0em) rotateX(91deg) rotateY(0deg) rotateZ(0deg) scale3d(1.3, 1.3, 1.3);
                            }
                        }

                        &.hover {
                            .cyl-1 {
                                transform: translate3D(100px, -50px, 0em) rotateX(91deg) rotateY(0deg) rotateZ(0deg) scale3d(1.3, 1.3, 1.3);
                            }
                        }

                        .cyl-1 {
                            transform: translate3D(0em, 0em, 0em) rotateX(60deg) rotateY(0deg) rotateZ(30deg) scale3d(1, 1, 1);
                        }
                    }
                }
            }
        }
    }
}
