@import '../../../../color-scheme.scss';

@media only screen and (min-width: 0px) {
    #skills-section {
        background: rgb(1,14,25);
        background: -moz-linear-gradient(180deg, rgba(1,14,25,1) 0%, rgba(0,6,10,1) 20%);
        background: -webkit-linear-gradient(180deg, rgba(1,14,25,1) 0%, rgba(0,6,10,1) 20%);
        background: linear-gradient(180deg, rgba(1,14,25,1) 0%, rgba(0,6,10,1) 20%);
        display: flex;
        justify-content: center;
        height: 400vh;
        max-height: 2500px;
        width: 100%;
    
        .container {
            display: flex;
            width: 100%;
            max-width: 1480px;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            padding: 0px 24px;
    
            p {
                width: 100%;
                display: flexbox;
                height: fit-content;
                color: rgba(255, 255, 255, 0.78);
                font-size: 20px;
                font-family: var(--fira-code);
                text-align: left;
                margin-bottom: 40px;
                margin-top: 240px;
                max-width: 800px;
                hyphens: auto;
    
                .colored-text {
                    color: $secondary-tint-2;
                }
            }
    
            .threeD-icons-container {
                display: grid;
                width: 100%;
                height: fit-content;
                grid-template-columns: repeat(2, 1fr);
                gap: 24px;
                margin-top: 48px;
    
                .threeD-icon {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    width: 100%;
                    height: 200px;
                    max-width: 200px;
    
                    &:nth-child(2) {
                        align-items: flex-end;
                    }
    
                    &:nth-child(4) {
                        align-items: flex-end;
                    }
    
                    .javascript {
                        width: 120px;
                        aspect-ratio: 1/1;
                        z-index: 3;
                        position: relative;
                        display: flex;
                        flex-direction: row-reverse;
                        overflow: visible;

                        &:hover {
                            .cub-1 {
                                transform: translate3D(-20px, -40px, 0px) rotateX(180deg) rotateY(0) rotateZ(0) scale3D(1.3, 1.3, 1.3);
                                -webkit-transform: translate3D(-20px, -40px, 0px) rotateX(180deg) rotateY(0) rotateZ(0) scale3D(1.3, 1.3, 1.3);
                            }
                        }
    
                        #tridiv {
                            perspective: 800px;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background: transparent;
                            font-size: 125%;
                        }

                        .scene, .shape, .face, .face-wrapper, .cr {
                            position: absolute;
                            transform-style: preserve-3d;
                            -webkit-transform-style: preserve-3d;
                        }

                        .scene {
                            width: 100%;
                            height: 100%;
                        }

                        .shape {
                            width: 0;
                            height: 0;
                            transform-origin: 50%;
                            -webkit-transform-origin: 50%;
                        }

                        .face, .face-wrapper {
                            transform-origin: 0 0;
                            -webkit-transform-origin: 0 0;
                        }

                        .face {
                            background-size: 100% 100%!important;
                            background-position: center;
                        }

                        .face-wrapper .face {
                            left: 100%;
                            width: 100%;
                            height: 100%
                        }

                        .photon-shader {
                            position: absolute;
                            width: 100%;
                            height: 100%
                        }

                        .side {
                            left: 50%;
                        }

                        .cr, .cr .side {
                            height: 96%;
                            background-color: #d3b912 !important;
                            border-radius: 0px 0px 3px 3px;
                        }

                        .cr {
                            background-color: transparent !important;
                        }

                        [class*="cuboid"] .ft, [class*="cuboid"] .bk {
                            width: 100%;
                            height: 100%;
                        }
                        
                        [class*="cuboid"] .bk {
                            left: 100%;
                        }
                        
                        [class*="cuboid"] .rt {
                            transform: rotateY(-90deg) rotateZ(90deg) translateX(-95px) translateY(-15px) translateZ(-1px);
                            -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateX(-95px) translateY(-15px) translateZ(-1px);
                        }
                        
                        [class*="cuboid"] .lt {
                            transform: rotateY(-90deg) rotateZ(90deg) translateX(-95px) translateY(-14px) translateZ(0px);
                            -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateX(-95px) translateY(-14px) translateZ(0px);
                        }
                        
                        [class*="cuboid"] .tp {
                            transform: rotateX(180deg) translateY(0) translateZ(10px);
                            -webkit-transform: rotateX(180deg) translateY(0) translateZ(10px);
                            display: flex;
                            justify-content: flex-end;
                            align-items: flex-end;

                            span {
                                margin-right: 12px;
                                margin-bottom: 12px;
                                font-size: 48px;
                                color: #323330;
                            }
                        }
                        
                        [class*="cuboid"] .bm {
                            transform: rotateX(180deg) translateZ(-13px);
                            -webkit-transform: rotateX(180deg) translateZ(-13px);
                        }
                        
                        [class*="cuboid"] .lt {
                            left: 100%;
                        }
                        
                        .cub-1 {
                            transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
                            transform:translate3D(0px, 0px, 0px) rotateX(150deg) rotateY(-30deg) rotateZ(0) scale3D(1, 1, 1);
                            -webkit-transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
                            -webkit-transform:translate3D(0px, 0px, 0px) rotateX(150deg) rotateY(-30deg) rotateZ(0) scale3D(1, 1, 1);
                            opacity:1;
                            width:6em;
                            height:1.25em;
                            will-change: transform, -webkit-transform;
                        }

                        .cub-1 .ft {
                            transform:translateZ(-11px) translateY(0px) rotateX(90deg);
                            -webkit-transform:translateZ(-11px) translateY(0px) rotateX(90deg);
                        }

                        .cub-1 .bk {
                            transform:translateY(-121px) translateX(-69px) translateZ(-10px) rotateX(90deg);
                            -webkit-transform:translateY(-121px) translateX(-69px) translateZ(-10px) rotateX(90deg);
                        }

                        .cub-1 .rt, .cub-1 .lt {
                            width:6em;
                            height:1.25em;
                        }

                        .cub-1 .tp, .cub-1 .bm {
                            width:6em;
                            height:6em;
                        }

                        .cub-1 .face {
                            background-color:#d3b912;
                        }

                        .cub-1 .ft {
                            background-color:#d3b912;
                        }

                        .cub-1 .bk {
                            background-color:#d3b912;
                        }

                        .cub-1 .tp {
                            background-color:#F0DB4F;
                        }

                        .cub-1 .bm {
                            background-color:#d3b912;
                        }

                        .cub-1 .rt {
                            background-color:#d3b912;
                        }

                        .cub-1 .ft {
                            width:3.5em;
                            margin-left:1.25em;
                        }

                        .cub-1 .bk {
                            width:3.5em;
                            margin-left:-1.25em;
                        }

                        .cub-1 .rt, .cub-1 .lt {
                            width:3.55em;
                        }

                        .cub-1 .tp, .cub-1 .bm, .cub-1 .tp .photon-shader, .cub-1 .bm .photon-shader {
                            border-radius:1.25em;
                        }

                        .cub-1 .cr {
                            width: 1.25em;
                            left: 0.625em;
                        }

                        .cub-1 .cr-0 {
                            transform: translate3D(1px, -40px, 1px) rotateY(-90deg) rotateZ(90deg);
                            -webkit-transform: translate3D(1px, -40px, 1px) rotateY(-90deg) rotateZ(90deg);
                        }

                        .cub-1 .cr-1 {
                            transform: translate3D(69px, -37px, 1px) rotateX(90deg) rotateZ(0deg);
                            -webkit-transform: translate3D(69px, -37px, 1px) rotateX(90deg) rotateZ(0deg);
                        }

                        .cub-1 .cr-2 {
                            transform: translate3D(0px, -107px, 0) rotateX(-90deg) rotateZ(0deg);
                            -webkit-transform: translate3D(0px, -107px, 0) rotateX(-90deg) rotateZ(0deg);
                        }

                        .cub-1 .cr-3 {
                            transform: translate3D(69px, -107px, 0) rotateX(90deg) rotateZ(180deg) rotateY(0);
                            -webkit-transform: translate3D(69px, -107px, 0) rotateX(90deg) rotateZ(180deg) rotateY(0);
                        }

                        .cub-1 .cr-0 .s0 {
                            transform: rotateY(15deg) translate3D(-50%, 0, 1.225em);
                            -webkit-transform: rotateY(15deg) translate3D(-50%, 0, 1.225em);
                        }

                        .cub-1 .cr-0 .s1 {
                            transform: rotateY(45deg) translate3D(-50%, 0, 1.225em);
                            -webkit-transform: rotateY(45deg) translate3D(-50%, 0, 1.225em);
                        }

                        .cub-1 .cr-0 .s2 {
                            transform: rotateY(75deg) translate3D(-50%, 0, 1.225em);
                            -webkit-transform: rotateY(75deg) translate3D(-50%, 0, 1.225em);
                        }

                        .cub-1 .cr-1 .s0 {
                            transform: rotateY(105deg) translate3D(-50%, 0, 1.225em);
                            -webkit-transform: rotateY(105deg) translate3D(-50%, 0, 1.225em);
                        }

                        .cub-1 .cr-1 .s1 {
                            transform: rotateY(135deg) translate3D(-50%, 0, 1.225em);
                            -webkit-transform: rotateY(135deg) translate3D(-50%, 0, 1.225em);
                        }

                        .cub-1 .cr-1 .s2 {
                            transform: rotateY(165deg) translate3D(-50%, 0, 1.2em);
                            -webkit-transform: rotateY(165deg) translate3D(-50%, 0, 1.2em);
                        }

                        .cub-1 .cr-2 .s0 {
                            transform: rotateY(195deg) translate3D(-50%, 0, 1.225em);
                            -webkit-transform: rotateY(195deg) translate3D(-50%, 0, 1.225em);
                        }

                        .cub-1 .cr-2 .s1 {
                            transform: rotateY(225deg) translate3D(-50%, 0, 1.225em);
                            -webkit-transform: rotateY(225deg) translate3D(-50%, 0, 1.225em);
                        }

                        .cub-1 .cr-2 .s2 {
                            transform: rotateY(255deg) translate3D(-50%, 0, 1.225em);
                            -webkit-transform: rotateY(255deg) translate3D(-50%, 0, 1.225em);
                        }

                        .cub-1 .cr-3 .s0 {
                            transform: rotateY(285deg) translate3D(-50%, 0, 1.225em);
                            -webkit-transform: rotateY(285deg) translate3D(-50%, 0, 1.225em);
                        }

                        .cub-1 .cr-3 .s1 {
                            transform: rotateY(315deg) translate3D(-50%, 0, 1.225em);
                            -webkit-transform: rotateY(315deg) translate3D(-50%, 0, 1.225em);
                        }

                        .cub-1 .cr-3 .s2 {
                            transform: rotateY(345deg) translate3D(-50%, 0, 1.225em);
                            -webkit-transform: rotateY(345deg) translate3D(-50%, 0, 1.225em);
                        }

                        .cub-1 .side {
                            width:0.69em;
                        }
                    }
                    
                    .css3 {
                        width: 140px;
                        aspect-ratio: 1/1;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        flex-direction: row;
                        transform-style: preserve-3d;
                        -webkit-transform-style: preserve-3d;
                        transform: scale(1, 1);
                        -webkit-transform: scale(1, 1);
                        transition: all 0.2s ease-in-out 0s;
                        -webkit-transition: all 0.2s ease-in-out 0s;
                        perspective: 800px;
                        perspective-origin: 50% 50%;
                        transform-origin: 50%;
    
                        .img-wrapper {
                            width: 98px;
                            aspect-ratio: 1/1;
                            display: flex;
                            position: relative;
                            transform-origin: 50% 50%;
                            transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
                            transform: scale(1) translate3d(0px, 0px, 0px) rotateX(-30deg) rotateY(30deg);
                            will-change: transform;
                            transform-style: preserve-3d;
    
                            &:after {
                                content: '';
                                display: flex;
                                background-color: hsl(228, 78%, 35%);
                                height: 100px;
                                width: 20px;
                                position: absolute;
                                transform-origin: 0 0;
                                transform: translate3d(1px, 1px, 10px) rotateY(90deg) rotateX(5deg);
                            }
    
                            &:before {
                                content: '';
                                display: flex;
                                background-color: hsl(228, 78%, 35%);
                                height: 20px;
                                width: 98px;
                                position: absolute;
                                transform-origin: 0 0;
                                transform: translate3d(0px, 1px, -10px) rotateX(90deg);
                            }
    
                            img {
                                width: 100%;
                                transform-origin: 0 0;
                                position: absolute;
                                transform-origin: 0 0;
                                transform: translate3d(0px, 0px, 10px);
                            }

                            &:hover {
                                transform: translate3d(-20px, -10px, 0px) scale(1.3) rotateX(0deg) rotateY(0deg);
                            }
                        }
                    }
    
                    .html5 {
                        width: 140px;
                        aspect-ratio: 1/1;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        flex-direction: row;
                        transform-style: preserve-3d;
                        -webkit-transform-style: preserve-3d;
                        transform: scale(1, 1);
                        -webkit-transform: scale(1, 1);
                        transition: all 0.2s ease-in-out 0s;
                        -webkit-transition: all 0.2s ease-in-out 0s;
                        perspective: 800px;
                        perspective-origin: 50% 50%;
                        transform-origin: 50%;
    
                        .img-wrapper {
                            width: 98px;
                            aspect-ratio: 1/1;
                            display: flex;
                            position: relative;
                            transform-origin: 50% 50%;
                            transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
                            transform: scale(1) translate3d(0px, 0px, 0px) rotateX(-30deg) rotateY(-30deg);
                            will-change: transform;
                            transform-style: preserve-3d;
    
                            &:after {
                                content: '';
                                display: flex;
                                background-color: hsl(12, 77%, 35%);
                                height: 100px;
                                width: 20px;
                                position: absolute;
                                left: 98px;
                                transform-origin: 0 0;
                                transform: translate3d(0px, 0px, 10px) rotateY(90deg) rotateX(-6deg);
                            }
    
                            &:before {
                                content: '';
                                display: flex;
                                background-color: hsl(12, 77%, 35%);
                                height: 20px;
                                width: 98px;
                                position: absolute;
                                transform-origin: 0 0;
                                transform: translate3d(0px, 1px, -10px) rotateX(90deg);
                            }
    
                            img {
                                width: 100%;
                                transform-origin: 0 0;
                                height: 100%;
                                position: absolute;
                                transform-origin: 0 0;
                                transform: translate3d(0px, 0px, 10px);
                                clip-path: polygon(0 0, 100% 0, 88% 80%, 50% 100%, 12% 80%);
                            }

                            &:hover {
                                transform: translate3d(20px, -10px, 0px) scale(1.3) rotateX(0deg) rotateY(0deg);
                            }
                        }
                    }
    
                    .scss {
                        width: 140px;
                        aspect-ratio: 1/1;
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        transform-style: preserve-3d;
                        transition: all 0.2s ease-in-out;
                        scale: 1;

                        &:hover {
                            .cyl-1 {
                                transform: translate3D(20px, -30px, 0px) rotateX(90deg) rotateY(180deg) rotateZ(180deg) scale3D(1.3, 1.3, 1.3);
                            }
                        }

                        #tridiv {
                            perspective: 800px;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background: transparent;
                            font-size: 125%;
                        }

                        .scene, .shape, .face, .face-wrapper, .cr {
                            position: absolute;
                            transform-style: preserve-3d;
                        }

                        .scene {
                            width: 100%;
                            height: 100%;
                        }

                        .shape {
                            width: 0;
                            height: 0;
                            transform-origin: 50%;
                        }

                        .face, .face-wrapper {
                            transform-origin: 0 0;
                            backface-visibility: hidden;

                        }

                        .face {
                            background-size: 100% 100%!important;
                            background-position: center;
                        }

                        .face-wrapper .face {
                            left: 100%;
                            width: 100%;
                            height: 100%
                        }

                        .photon-shader {
                            position: absolute;
                            width: 100%;
                            height: 100%
                        }

                        .side {
                            left: 50%;
                        }

                        .cr, .cr .side {
                            height: 100%;
                        }

                        [class*="cylinder"] .tp {
                            transform: rotateX(90deg) translateY(-50%);
                        }

                        [class*="cylinder"] .bm {
                            transform: rotateX(-90deg) translateY(-50%);
                        }

                        [class*="cylinder"] .tp, [class*="cylinder"] .bm, [class*="cylinder"] .tp .photon-shader, [class*="cylinder"] .bm .photon-shader {
                            border-radius: 50%;
                        }

                        [class*="cylinder"] .bm {
                            top: 100%;
                        }

                        .cyl-1 {
                            top: 45px;
                            transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
                            transform:translate3D(0px, 0px, 0px) rotateX(60deg) rotateY(180deg) rotateZ(150deg) scale3D(1, 1, 1);
                            opacity:1;
                            width:6em;
                            height:1.5em;
                        }

                        .cyl-1 .tp, .cyl-1 .bm {
                            width:6em;
                            height:6em;
                        }

                        .cyl-1 .side {
                            width:1.0262229172794184em;
                            height:1.5em;
                        }

                        .cyl-1 .s0 {
                            transform: rotateY(9.473684210526315deg) translate3D(-50%, 0, 2.975em);
                        }

                        .cyl-1 .s1 {
                            transform: rotateY(28.421052631578945deg) translate3D(-50%, 0, 2.975em);
                        }

                        .cyl-1 .s2 {
                            transform: rotateY(47.368421052631575deg) translate3D(-50%, 0, 2.975em);
                        }

                        .cyl-1 .s3 {
                            transform: rotateY(66.3157894736842deg) translate3D(-50%, 0, 2.975em);
                        }

                        .cyl-1 .s4 {
                            transform: rotateY(85.26315789473684deg) translate3D(-50%, 0, 2.975em);
                        }

                        .cyl-1 .s5 {
                            transform: rotateY(104.21052631578947deg) translate3D(-50%, 0, 2.975em);
                        }

                        .cyl-1 .s6 {
                            transform: rotateY(123.1578947368421deg) translate3D(-50%, 0, 2.975em);
                        }

                        .cyl-1 .s7 {
                            transform: rotateY(142.10526315789474deg) translate3D(-50%, 0, 2.975em);
                        }

                        .cyl-1 .s8 {
                            transform: rotateY(161.05263157894734deg) translate3D(-50%, 0, 2.975em);
                        }

                        .cyl-1 .s9 {
                            transform: rotateY(180deg) translate3D(-50%, 0, 2.975em);
                        }

                        .cyl-1 .s10 {
                            transform: rotateY(198.9473684210526deg) translate3D(-50%, 0, 2.975em);
                        }

                        .cyl-1 .s11 {
                            transform: rotateY(217.89473684210526deg) translate3D(-50%, 0, 2.975em);
                        }

                        .cyl-1 .s12 {
                            transform: rotateY(236.84210526315786deg) translate3D(-50%, 0, 2.975em);
                        }

                        .cyl-1 .s13 {
                            transform: rotateY(255.78947368421052deg) translate3D(-50%, 0, 2.975em);
                        }

                        .cyl-1 .s14 {
                            transform: rotateY(274.7368421052631deg) translate3D(-50%, 0, 2.975em);
                        }

                        .cyl-1 .s15 {
                            transform: rotateY(293.6842105263158deg) translate3D(-50%, 0, 2.975em);
                        }

                        .cyl-1 .s16 {
                            transform: rotateY(312.6315789473684deg) translate3D(-50%, 0, 2.975em);
                        }

                        .cyl-1 .s17 {
                            transform: rotateY(331.578947368421deg) translate3D(-50%, 0, 2.975em);
                        }

                        .cyl-1 .s18 {
                            transform: rotateY(350.52631578947364deg) translate3D(-50%, 0, 2.975em);
                        }

                        .cyl-1 .face, .cyl-1 .side {
                            background-color:#FFFFFF;
                        }

                        .cyl-1 .tp {
                            background:url(https://john-nik.com/icons/sass.svg) #ffffff;
                        }

                        .cyl-1 .bm {
                            background-color:#ffffff;
                        }

                        .cyl-1 .side {
                            background-color:#c63980;
                            border-radius: 0px 0px 3px 3px;
                        }
                    }
                }
            }
        }
    }
}