@import '../../../../color-scheme.scss';

#skills-section {
    background: rgb(1,14,25);
    background: -moz-linear-gradient(180deg, rgba(1,14,25,1) 0%, rgba(0,6,10,1) 20%);
    background: -webkit-linear-gradient(180deg, rgba(1,14,25,1) 0%, rgba(0,6,10,1) 20%);
    background: linear-gradient(180deg, rgba(1,14,25,1) 0%, rgba(0,6,10,1) 20%);
    display: flex;
    justify-content: center;
    height: 400vh;
    max-height: 2500px;
    width: 100%;

    .container {
        display: flex;
        width: 100%;
        max-width: 1480px;
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 0px 24px;

        p {
            width: 100%;
            display: flexbox;
            height: fit-content;
            color: rgba(255, 255, 255, 0.78);
            font-size: 20px;
            font-family: var(--fira-code);
            text-align: left;
            margin-bottom: 90px;
            max-width: 800px;
            hyphens: auto;

            .colored-text {
                color: $secondary-tint-2;
            }
        }

        .threeD-icons-container {
            display: grid;
            width: 100%;
            height: fit-content;
            grid-template-columns: repeat(4, 1fr);

            .threeD-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 300px;
                width: 100%;

                .javascript {
                    height: 250px;
                    width: 250px;
                    z-index: 3;
                    position: relative;
                    display: flex;
                    flex-direction: row-reverse;
                    overflow: visible;

                    div {
                        display: flex;
                        transform-style: preserve-3d;
                        height: 200px;
                        width: 200px;
                        background-color: #F0DB4F;
                        flex-direction: row-reverse;
                        transform: rotate(10deg) skew(10deg);
                        z-index: 3;
                        border-radius: 20px;
                        position: relative;
                        align-items: flex-end;
                        transition: all ease-in-out 0.2s;
                        
                        span {
                            margin-right: 25px;
                            margin-bottom: 25px;
                            font-size: 96px;
                            color: rgb(44, 44, 44);
                            font-weight: 400;
                        }
                    }

                    &:hover div {
                        transform: rotate(0deg) skew(0deg) translateX(50px) translateY(-50px);
                        width: 250px;
                        height: 250px;
                        border-radius: 30px;
                    }

                    &:before {
                        transform-style: preserve-3d;
                        content: '';
                        position: absolute;
                        width: 50px;
                        height: 200px;
                        background-color: hsl(52, 50%, 63%);
                        transform-origin: 0% 0%;
                        transform: translate(30px, 25px) skewY(-45deg);
                        border-radius: 0px 29px 10px 20px;
                        z-index: 1;
                        transition: all ease-in-out 0.2s;
                    }

                    &:hover:before {
                        height: 250px;
                        transform: translate(80px, -50px) skewY(-45deg) rotateY(-90deg);
                        border-radius: 0px 60px 10px 30px;
                    }

                    &:after {
                        transform-style: preserve-3d;
                        content: '';
                        position: absolute;
                        width: 200px;
                        height: 50px;
                        transform: rotate(10deg) translate(40px, -50px) skew(-45deg);
                        border-radius: 10px 28px 0px 25px;
                        transform-origin: 0% 0%;
                        background-color: hsl(52, 50%, 63%);
                        z-index: 1;
                        transition: all ease-in-out 0.2s;
                    }

                    &:hover:after {
                        width: 250px;
                        transform: rotateZ(0deg) skew(0deg) translate(50px, -50px);
                        border-radius: 30px 30px 0px 10px;
                    }
                }

                .css3 {
                    width: 250px;
                    height: 250px;
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    transform-style: preserve-3d;

                    .left-wall {
                        transform-style: preserve-3d;
                        width: 80px;
                        height: 200px;
                        background-color: #264de4;
                        transform-origin: 0 100%;
                        transform: skewY(20deg) translateY(-20px);
                        transition: all 0.2s ease-in-out;
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 5px 100%);
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        z-index: 1;
                        
                        .white-color {
                            width: 66%;
                            height: 60%;
                            background-color: white;
                            transform: skewX(-2deg);
                            transition: all 0.2s ease-in-out;
                            display: flex;
                            flex-direction: column;
                            gap: 15%;
                            transform: translateX(1px);
                            overflow: visible;
                            align-items: flex-end;
                            clip-path: polygon(0 0, 100% 0, 100% 100%, 2px 100%);

                            .light-blue-color {
                                margin-top: 28%;
                                width: 70%;
                                height: 25%;
                                background-color: #2965f1;
                                transition: all 0.2s ease-in-out;
                            }

                            .light-blue-color2 {
                                width: 65%;
                                height: 35%;
                                background-color: #2965f1;
                                transition: all 0.2s ease-in-out;
                            }
                        }
                    }

                    &:hover .left-wall {
                        width: 100px;
                        height: 200px;
                        scale: 1.1;
                        transform: skewY(10deg) translateY(-20px);
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 10px 100%);

                        .white-color {
                            clip-path: polygon(0 0, 100% 0, 100% 100%, 5px 100%);

                            .light-blue-color {
                                margin-top: 20%;
                                width: 100%;
                                height: 25%;
                                background-color: #2965f1;
                                transition: all 0.2s ease-in-out;
                            }

                            .light-blue-color2 {
                                width: 65%;
                                height: 35%;
                                background-color: #2965f1;
                                transition: all 0.2s ease-in-out;
                            }
                        }
                    }

                    .right-wall {
                        transform-style: preserve-3d;
                        width: 120px;
                        height: 200px;
                        background-color: #264de4;
                        transform: skewY(-3deg) translateX(-2px) translateY(9px);
                        transform-origin: 0 100%;
                        transition: all 0.2s ease-in-out;
                        display: flex;
                        align-items: center;
                        overflow: visible;
                        border-radius: 0px 0px 0px 4px;
                        z-index: -1;
                        clip-path: polygon(0 0, 100% 0, calc(100% - 20px) 100%, 0 100%);

                        .lighter-blue-wall {
                            background-color: #2965f1;
                            width: 80%;
                            height: 80%;
                            transform: skewX(-2deg);
                            clip-path: polygon(0 0, 100% 0, calc(100% - 12px) 100%, 0 100%);
                            transition: all 0.2s ease-in-out;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
    
                            .white-color {
                                background-color: white;
                                width: 80%;
                                height: 75%;
                                clip-path: polygon(0 0, 100% 0, calc(100% - 9px) 100%, 0 100%);
                                transform: skewX(-2deg);
                                transition: all 0.2s ease-in-out;
                                display: flex;
                                flex-direction: column;
                                gap: 15%;
                                transform: translateX(-2px);
                                overflow: visible;
    
                                .light-blue-color {
                                    margin-top: 20%;
                                    width: 70%;
                                    height: 25%;
                                    background-color: #2965f1;
                                    clip-path: polygon(0 0, 100% 0, calc(100% - 2px) 100%, 0 100%);
                                    transform: translateX(-1px);
                                    transition: all 0.2s ease-in-out;
                                }
    
                                .light-blue-color2 {
                                    width: 65%;
                                    height: 35%;
                                    background-color: #2965f1;
                                    clip-path: polygon(0 0, 100% 0, calc(100% - 2px) 100%, 0 100%);
                                    transform: translateX(-1px);
                                    transition: all 0.2s ease-in-out;
                                }
                            }
                        }
                    }

                    &:hover .right-wall {
                        width: 100px;
                        height: 200px;
                        scale: 1.1;
                        transform: skewY(-10deg) translateX(7px) translateY(-1px);
                        clip-path: polygon(0 0, 100% 0, calc(100% - 15px) 100%, 0 100%);

                        .lighter-blue-wall {
                            clip-path: polygon(0 0, 100% 0, calc(100% - 7px) 100%, 0 100%);
    
                            .white-color {
                                clip-path: polygon(0 0, 100% 0, calc(100% - 4px) 100%, 0 100%);
    
                                .light-blue-color {
                                    width: 67%;
                                    clip-path: polygon(0 0, 100% 0, calc(100% - 1px) 100%, 0 100%);
                                }
    
                                .light-blue-color2 {
                                    clip-path: polygon(0 0, 100% 0, calc(100% - 1px) 100%, 0 100%);
                                }
                            }
                        }
                    }                    
                }
            }
        }
    }
}