#minesweeper-container {
    width: 100%;
    position: relative;
    height: calc(100vh - 64px - 58px);
}

#game {
    width: 100%;
    height: 100%;
    display: grid;
    background-color: black;
    gap: 1px;
    position: relative;
}

.row {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    gap: 1px;
}

@media only screen and (max-width: 860px) {
    .row {
        gap: 2px;
    }
}


.square {
    width: 100%;
    height: 100%;
    min-width: 28px;
    box-shadow: inset 1px 1px 1px 1px rgba(255, 255, 255, 0.1), inset -1px -1px 1px 1px rgb(3, 3, 3, 0.5);
    background-color: rgb(1, 14, 24);
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-family: var(--fira-code);
}

.square.revealed {
    box-shadow: none;
    color: white;

    svg {
        width: 24px;
        height: 24px;
    }

}

.B1 {
    color: #26D980 !important;
    
}

.B2 {
    color: #62D926 !important;
    
}

.B3 {
    color: #269DD9 !important;
    
}

.B4 {
    color: #4426D9 !important;
    
}

.B5 {
    color: #D926D9 !important;
}

.B6 {
    color: #D9BB26 !important;
}

.B7 {
    color: #D98026 !important;
}

.B8 {
    color: #D92644 !important;
}

body {
    overflow: hidden !important;
}