@media only screen and (min-width: 0px) {
    .bombs-placed-container {
        width: 100%;
        height: 100%;
        position: absolute;
        user-select: none;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transition: all 1s ease-in-out;
        transition-delay: 0.5s;
        z-index: 100001;
    
        .wrapper {
            left: 0%;
            top: 0%;
            position: relative;
            gap: 8px;
            font-size: 3rem;
            color: white;
            letter-spacing: 2px;
            display: flex;
            flex-direction: column;
            will-change: scroll-position;
            transition: all 1s ease-in-out;
            transition-delay: 0.5s;
        }
    }
    
    #content {
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
        justify-content: center;
        align-items: center;
        user-select: none;
        pointer-events: none;
    
        .container {
            display: flex;
            top: 0px;
            left: 0px;
            width: 80%;
            height: 100%;
            justify-content: center;
            align-items: center;
            max-width: 1478px;
            flex-direction: column;
            transition: all 0.4s ease-in-out;
            position: relative;
            
            
            .textContent {
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 1;
                transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    
                .topper {
                    color: white;
                    opacity: 0.7;
                    font-size: 1.5rem;
                    margin-bottom: 16px;
                    width: fit-content;
                    height: fit-content;
                    text-shadow: 0px 0px 50px black;
                    border-radius: 25px;
                }

                .title {
                    color: white;
                    font-size: clamp(4rem, 7.5vw, 6.75rem);
                    margin-bottom: 16px;
                    font-weight: 400;
                    width: fit-content;
                    border-radius: 25px;
                    line-height: 64px;
                    height: fit-content;
                    text-align: center;
                    text-shadow: 0px 0px 50px black;
                }
    
                .work {
                    color: #6ABAFB;
                    font-size: clamp(2.375rem, 5vw, 4rem);
                    margin-bottom: 32px;
                    font-weight: 400;
                    width: max-content;
                    height: 72px;
                    backdrop-filter: blur(2px);
                    border-radius: 25px;
                    text-shadow: 0px 0px 50px black;
    
                    &::before {
                        content: '>';
                    }
                }
    
                .get-in-touch-button {
                    width: 100%;
                    max-width: 620px;
                    font-size: 2rem;
                    color: white;
                    background-color: #406ABF;
                    border-radius: 24px;
                    box-shadow: none;
                    border: solid #406ABF;
                    cursor: pointer;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.175s cubic-bezier(0.445, 0.05, 0.55, 0.95);
                    pointer-events: all;
    
                    .GIT-wrapper {
                        display: flex;
                        position: relative;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        border-radius: 18px;
                        overflow: hidden;
    
                        span {
                            position: relative;
                            width: fit-content;
                            z-index: 10;
                            display: flex;
                            align-items: center;
                            height: clamp(48px, 2vw, 64px);
                            font-size: clamp(1.5rem, 2vw, 2rem);
                        }
    
                        
                    }
    
                    &:hover {
                        background-color: hsl(220, 50%, 30%);
                        border: solid hsl(220, 50%, 30%);
                    }
    
                    &:active {
                        scale: 0.95;
                    }
                }
    
                

                .show-settings-panel-button {
                    font-size: 1.5rem;
                    font-family: var(--fira-code);
                    font-weight: 500;
                    color: #83ADE2;
                    background-color: transparent;
                    border: none;
                    width: fit-content;
                    height: max-content;
                    text-decoration: underline;
                    text-underline-offset: 6px;
                    backdrop-filter: brightness(0.6) blur(1px);
                    pointer-events: all;
                    box-shadow: 0px 0px 5px black;
                    border-radius: 10%;
                    animation: blink 1.5s steps(1) 0s infinite;

                    @keyframes blink {
                        0% {
                            text-decoration: none;
                            // for some reason, without setting the color to be changing, safari will NOT start the animation effect. I have no idea why it does this
                            color: #83ADE1;
                        }
                        50% {
                            text-decoration: underline;
                            color: #83ADE2;
                        }
                        100% {
                            text-decoration: none;
                            color: #83ADE1;
                        }
                    }
                }
    
                .buttons-container {
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    gap: 27px;
                    flex-direction: column;
                    align-items: center;
                }
            }
    
            .gameSettings {
                width: 120%;
                height: 50%;
                display: none;
                justify-content: center;
                align-items: center;
                font-family: var(--fira-code);
                opacity: 0;
                transition: opacity 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    
                .wrapper {
                    width: 510px;
                    height: 475px;
                    display: flex;
                    flex-direction: column;
                    background: rgb(4,101,149);
                    background: rgb(4,101,149);
                    background: -moz-linear-gradient(153deg, rgba(4,101,149,1) 0%, rgba(4,84,149,0.13) 80%);
                    background: -webkit-linear-gradient(153deg, rgba(4,101,149,1) 0%, rgba(4,84,149,0.13) 80%);
                    background: linear-gradient(153deg, rgba(4,101,149,1) 0%, rgba(4,84,149,0.13) 80%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#046595",endColorstr="#045495",GradientType=1);
                    position: relative;
                    border-radius: 8px;
                    border: solid #0C1616;
                    backdrop-filter: blur(10px);
    
                    .bolt-container {
                        position: absolute;
                        display: flex;
                        width: 100%;
                        height: 100%;
                        user-select: none;
                        pointer-events: none;
    
                        img {
                            position: absolute;
                        }
    
                        #bolt1 {
                            top: 14px;
                            left: 14px;
                        }
    
                        #bolt2 {
                            bottom: 14px;
                            left: 14px;
                        }
    
                        #bolt3 {
                            right: 14px;
                            top: 14px;
                        }
    
                        #bolt4 {
                            right: 14px;
                            bottom: 14px;
                        }
                    }
    
                    .game-settings-wrapper {
                        padding: 34px;
    
                        .game-instructions {
                            display: flex;
                            color: white;
                            font-weight: 500;
                            width: 100%;
                            font-size: 0.75rem;
                            background-color: rgb(1, 20, 35, 0.7);
                            border-radius: 8px;
                            padding: 50px 0px;

                            span {
                                padding: 0px 20px;
                            }
                        }

                        .settings {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
    
                            .difficulty-wrapper {
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: flex-start;
                                flex-direction: column;
                                color: white;
                                font-weight: 300;
                                padding: 30px 32px;
                                gap: 16px;

                                .difficulty {
                                    width: 100%;
                                    text-align: center;
                                    position: relative;
                                    left: -1ch;
                                }
    
                                .difficulty-options-wrapper {
                                    display: flex;
                                    flex-direction: row;
                                    width: 100%;
                                    flex-wrap: wrap;
                                    line-height: 2.5rem;
                                    justify-content: space-between;
    
                                    .difficulty-feedback {
                                        width: 50%;
                                        display: flex;
                                        cursor: pointer;
                                        user-select: none;
                                        pointer-events: all;

                                        &:nth-child(2) {
                                            justify-content: flex-end;
                                        }

                                        &:nth-child(4) {
                                            justify-content: flex-end;
                                        }
                                        
                                        &.active {
                                            @keyframes blinkRight {
                                                0% {
                                                    opacity: 0;
                                                }
    
                                                50% {
                                                    opacity: 1;
                                                }
    
                                                100% {
                                                    opacity: 0;
                                                }
                                            }
    
                                            @keyframes blinkLeft {
                                                0% {
                                                    opacity: 0;
                                                }
    
                                                50% {
                                                    opacity: 1;
                                                }
    
                                                100% {
                                                    opacity: 0;
                                                }
                                            }
    
                                            &::after {
                                                margin-right: -20px;
                                                content: '⠀<';
                                                animation: blinkRight 1s steps(1, jump-start) 0s infinite alternate;
                                                will-change: contents;
                                            }
        
                                            &::before {
                                                margin-left: -20px;
                                                content: '>⠀';
                                                animation: blinkLeft 1s steps(1, jump-start) 0s infinite alternate;
                                                will-change: contents;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .start-game-button-wrapper {
                            display: flex;
                            align-items: center;
                            height: 33%;
                            max-height: 124px;
                            pointer-events: all;
                            flex-direction: column;
                
                            .end-game-status {
                                color: rgba(255, 255, 255, 0.5);
                                font-size: 0.875rem;
                            }
                
                            .start-game-button {
                                padding: 8px 20px;
                                border-radius: 12px;
                                border: none;
                                font-size: 0.5rem;
                                letter-spacing: 1px;
                                transform: scale(1,2);
                                font-family: var(--press-start-font);
                                color: black;
                                font-weight: 400;
                                background-color: #83ADE2;
                                cursor: pointer;
                                margin-top: 32px;
                                margin-bottom: 64px;
                
            
                                &:hover {
                                    background-color: hsl(213, 62%, 60%);
                                }
                
                                &:active {
                                    scale: 0.95;
                                }
                            }
                        }
                    }
                }
            }
        }
    }    
}

@media only screen and (min-width: 1024px) {    
    #content {
    
        .container {
            width: 100%;
            flex-direction: row;
            padding: 0px 32px;

            .textContent {
                width: 50%;
                height: 100%;
                align-items: flex-start;
    
                .topper {
                    backdrop-filter: blur(2px) brightness(0.85);
                }
    
                .title {
                    margin-bottom: 0px;
                    backdrop-filter: blur(2px);
                    line-height: 108px;
                }
    
                .work {
                    color: #6ABAFB;
                    width: fit-content;
                }
    
                .get-in-touch-button {
                    font-size: clamp(1.5rem, 3vw, 2rem);
    
                    .GIT-wrapper {
    
                        span {
                            padding: 16px 0px;
                        }
                    }
                }
    


                .show-settings-panel-button {
                    display: none;
                }
    
                .buttons-container {
                    flex-direction: row;
                    gap: 54px;
                }
            }
    
            .gameSettings {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: flex-end;
                opacity: 1;
    
                .wrapper {
                    width: 80%;
                    max-width: 510px;
                    height: 80%;
                    min-height: 350px;
                    max-height: 475px;
    
                    .game-settings-wrapper {

                        .start-game-button-wrapper {
                            height: 10%;
                            min-height: 44px;
                
                            .start-game-button {
                                margin-top: clamp(0px, 1vh, 32px) !important;
                            }
                        }
    
                        .game-instructions {
                            padding: 0px;
                            height: 20vh;
                            max-height: 150px;
                            align-items: center;

                            .game-instructions-span {
                                font-size: 1rem;
                                padding: 0px 32px;
                            }
                        }
    
                        .settings {
    
                            .difficulty-wrapper {
                                gap: 4px;

                                .difficulty {
                                    text-align: left;
                                    left: 0px;
                                }
    
                                .difficulty-options-wrapper {
                                    justify-content: space-evenly;
    
                                    .difficulty-feedback {
                                        justify-content: flex-start !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }    
}

@media only screen and (min-width: 1250px) { 
    #content {
    
        .container {
    
            .gameSettings {
    
                .wrapper {
    
                    .game-settings-wrapper {
    
                        .settings {
    
                            .difficulty-wrapper {
    
                                .difficulty-options-wrapper {
                                    justify-content: space-between;
                                    flex-wrap: nowrap;
    
                                    .difficulty-feedback {
                                        width: fit-content;
                                    }
                                }
                            }
                        }

                        .start-game-button-wrapper {
                            align-items: center;
                            height: 10%;
    
                            .start-game-button {
                                margin-top: clamp(0px, 1vh, 32px);
                            }
                        }
                    }
                }
            }
        }
    }    
}