@import 'src/app/color-scheme.scss';

.title {
    color: $tint-2;
    font-size: clamp(3.125rem, 6vw, 4rem);
    text-align: center;
    margin-bottom: 130px;
    font-weight: 400;
    padding: 0px 24px;
}

@media only screen and (min-width: 0px) {
    .portfolio-page-section {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 96px;
    
        .container {
            margin-top: 96px;
            width: 100%;
            max-width: 1480px;
            padding: 0px 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cards-container {
            width: 100%;
            display: grid;
            grid-template-columns: minmax(100px, 380px);
            gap: 48px;
            row-gap: 64px;
            justify-content: center;
        }

        .project-card-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;


            .background {
                border-radius: 16px;
                cursor: pointer;
                transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                filter: brightness(0.8);

                &:hover {
                    filter: brightness(1);
                }
            }

            .content {
                display: flex;
                position: relative;
                margin-top: 1rem;
                justify-content: space-between;
                padding: 0px 8px;
            }

            h2 {
                color: white;
                font-weight: 400;
                letter-spacing: 1px;
                display: flex;
                width: fit-content;
                height: 100%;
                align-items: center;
                font-size: 1.75rem;
                text-wrap: nowrap;
            }

            span {
                color: white;
                font-weight: 400;
                letter-spacing: 1px;
                display: flex;
                width: fit-content;
                height: 100%;
                align-items: flex-end;
                font-size: 1.5rem;
                opacity: 0.8;
                margin-right: 6px;
            }

            .icons-container {
                display: flex;
                width: max-content;
                gap: 16px;
                height: 100%;
                max-height: 28px;
                align-items: center;
                justify-content: flex-end;
                margin-right: 6px;
                overflow: visible;
                width: 100%;
            }

            .website-icon {
                overflow: visible;
                max-height: 28px;
                cursor: pointer;
                transition: transform 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transform: scale(1);

                &:hover {
                    transform: scale(1.1);
                }

                &:active {
                    transform: scale(1);
                }
            }

            .github-icon {
                overflow: visible;
                max-height: 28px;
                cursor: pointer;
                transition: transform 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transform: scale(1);

                &:hover {
                    transform: scale(1.1);
                }

                &:active {
                    transform: scale(1);
                }
            }
        }
    }
}

@media only screen and (min-width: 800px) {
    .portfolio-page-section {
        .cards-container {
            grid-template-columns: repeat(2, minmax(100px, 380px));
        }
    }
}

@media only screen and (min-width: 1280px) {
    .portfolio-page-section {
        .cards-container {
            grid-template-columns: repeat(3, minmax(100px, 380px));
        }

        .item-container {
            &:hover {
                transform: translateY(-4px);
            }
    
            &:active {
                transform: scale(0.99);
            }
        }
    }
}