#background-game {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 80vh;
    display: grid;
    filter: blur(3px);
    min-height: 600px;
    max-height: 800px;

    .konvajs-content {
        mask-image: linear-gradient(rgba(0, 6, 10, 1) 70%, transparent 90%);
    }
}