@import 'src/app/color-scheme.scss';

#minesweeper-section {
    margin: 80px 0px;
    display: flex;
    width: 100%;
    height: 80vh;
    min-height: 600px;
    max-height: 800px;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: 0;

    .background-game {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 80vh;
        display: grid;
        filter: blur(3px);
    }

    .text-content {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;
        padding: 0px 24px;

        p {
            width: 100%;
            max-width: 1200px;
            font-size: clamp(1.25rem, 2vw, 1.75rem);
            font-family: var(--fira-code);
            color: white;
            text-align: left;
            hyphens: auto;

            .colored-text {
                color: $secondary-tint-1;
            }
        }
    }
}